#feed-items {
    padding-bottom: 50px;
}

.feed-card {
    max-width: 840px;
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    transform: scale(1.05); /* Add a transform property to make the card a bit bigger */
}

.job-image {
    alt: "Job image";
    object-fit: contain;
    background-size: cover;
    background-position: center;
    width: 220px;
    height: 220px;
}

.creator-time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.creator-text,
.create-time-text {
    margin: 0;
}


.feed-container {
    max-height: calc(100vh - 200px);
}


.like-button,
.comment-button {
    display: inline-flex;
    align-items: center;
}

.like-button .fas,
.comment-button .fas {
    margin-right: 5px;
}

.badge {
    margin-left: 3px;
    padding: 2px 4px;
}
