/* base styles, feel free to edit */
* {
    font-family: "Nunito", sans-serif;
}

.hide {
    display: none;
}

.nav-item:hover {
	cursor: pointer;
}

/* Header Section */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#error-popup-container {
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #21252a;
    width: 300px;
    height: 150px;
	position: absolute;
    top: 300px;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    display: flex;
}

/* Register CSS */
#page-register form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#page-register .form-group {
    width: 300px;
}

#page-register label {
    display: block;
    margin-bottom: 5px;
}

#page-register input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#page-register #register-button {
    width: 100px;
}

/* Login CSS */
#page-login form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#page-login .form-group {
    width: 300px;
}

#page-login label {
    display: block;
    margin-bottom: 5px;
}

#page-login input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#page-login #login-button {
    width: 100px;
}

/* Logged In Page CSS */
#section-logged-in .container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
/* Footer CSS */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

footer p {
    margin: 0;
}
